//角色設定
.charater {
    width: 100px;
    height: 100px;
    position: absolute;
    transition: 0.3s all;
    z-index: 1;

    //狀態列
    .stateBox {
        width: 120px;
        height: 120px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);

        //動作列表
        .moveList {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;

            &.active {

                .move,
                .attack,
                .stay,
                .cancel {
                    transform: translate(0%,0%) scale(1);
                }
            }

            li {
                width: 36px;
                height: 36px;
                @include moveBtn;
                position: absolute;

                &.move {
                    top: 0;
                    left: 0;
                    transform: translate(150%,150%) scale(0);
                }
                &.attack {
                    top: 0;
                    right: 0;
                    transform: translate(-150%,150%) scale(0);
                }
                &.stay {
                    bottom: 0;
                    left: 0;
                    transform: translate(150%,-150%) scale(0);
                }
                &.cancel {
                    bottom: 0;
                    right: 0;
                    transform: translate(-150%,-150%) scale(0);

                    i {
                        width: 16px;
                        height: 16px;
                    }
                }

                i {
                    width: 20px;
                    height: 20px;
                }
            }
        }

        //步數
        .stepCount {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            pointer-events: none;

            &.active {
                pointer-events: visible;

                .btnBox {

                    .moveCancel {
                        transform: translateX(0) scale(1);
                    }
                }

                p {
                    transform: scale(1);
                }
            }

            .btnBox {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                button {
                    width: 36px;
                    height: 36px;
                    @include moveBtn;

                    &.moveCheck {
                        transform: translateX(150%) scale(0);

                        &.display {
                            transform: translateX(0) scale(1);
                        }
                    }
                    &.moveCancel {
                        transform: translateX(-150%) scale(0);

                        i {
                            width: 16px;
                            height: 16px;
                        }
                    }

                    i {
                        width: 20px;
                        height: 20px;
                    }
                }
            }

            p {
                width: 100%;
                color: #1f1f1f;
                font-size: 17px;
                font-weight: bold;
                position: absolute;
                top: 0;
                left: 0;
                text-align: center;
                transition: 0.3s all;
                transform-origin: center;
                transform: scale(0);
            }
        }
    }
}