//角色外觀
.charater.firstPlayer {
    background: url('../images/pixel.gif') no-repeat;
    background-size: contain;
}

//按鈕IC
.controlBtn .control_ic {
    background: url('../images/icon/control.png') no-repeat;
    background-size: contain;
}
.reBtn .reset_ic {
    background: url('../images/icon/reset.png') no-repeat;
    background-size: contain;
}

.charater .move_ic {
    background: url('../images/icon/move.png') no-repeat;
    background-size: contain;
}
.charater .attack_ic {
    background: url('../images/icon/attack.png') no-repeat;
    background-size: contain;
}
.charater .stay_ic {
    background: url('../images/icon/stay.png') no-repeat;
    background-size: contain;
}
.charater .cancel_ic {
    background: url('../images/icon/cancel.png') no-repeat;
    background-size: contain;
}
.charater .check_ic {
    background: url('../images/icon/check.png') no-repeat;
    background-size: contain;
}
.charater .skill_ic.closeRange {
    background: url('../images/icon/skill_closeRange.png') no-repeat;
    background-size: contain;
}
.charater .skill_ic.longRange {
    background: url('../images/icon/skill_longRange.png') no-repeat;
    background-size: contain;
}
.charater .skill_ic.move {
    background: url('../images/icon/skill_move.png') no-repeat;
    background-size: contain;
}
.charater .skill_ic.support {
    background: url('../images/icon/skill_support.png') no-repeat;
    background-size: contain;
}
.charater .skill_ic.special {
    background: url('../images/icon/skill_special.png') no-repeat;
    background-size: contain;
}
.charater .skillTest_1 {
    background: url('../images/icon/skillTest_1.png') no-repeat;
    background-size: contain;
}
.charater .skillTest_2 {
    background: url('../images/icon/skillTest_2.png') no-repeat;
    background-size: contain;
}
.charater .skillTest_3 {
    background: url('../images/icon/skillTest_3.png') no-repeat;
    background-size: contain;
}
.charater .skillTest_4 {
    background: url('../images/icon/skillTest_4.png') no-repeat;
    background-size: contain;
}